.name-project{
    font-size: 25px;
    font-family: 'Silkscreen', cursive;
}

.navbar{
    background-color: #e3f2fd;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.p-navbar{
    font-size: 15px;
    font-family: 'Silkscreen', cursive;
}