.header{
    font-family: 'Silkscreen', cursive;
    background-color: #e3f2fd;
    height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    color: black;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    padding: 0 40px;
    line-height: 75px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 75px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 10rem;
}

.nav-menu-link:hover{
    background-color: black;
}