.navbar-toggler{
    color: orange;
    background-color: orange;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.nav-div{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.nav-logo{
    color: orange;
}

.nav-title{
    color: orange;
    font-family: 'Silkscreen', cursive;
}

.link-decoration{
    color: orange;
    margin: 2px;
    font-size: 10px;
    font-family: 'Silkscreen', cursive;
}

.link-decoration:hover{
    background-color: gray;
    border-top: 4px solid orange;
    padding-top: 29px;
    padding-bottom: 27px;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: left 2s;
}

.link-social-networks{
    color: orange;
    font-family: 'Silkscreen', cursive;
}

.dropdown-menu{
    background-color: black;
}

.dropdown-item{
    font-family: 'Silkscreen', cursive;
    font-size: 10px;
    color: orange;
}

.dropdown-item:hover{
    background-color: white;
    color: orange;
    border-radius: 12px;
    padding: 4px;
    width: 75%;
}

.social-media-list{
    flex-wrap: wrap;
}