h1{
    color: black;
    font-family: 'Silkscreen', cursive;
    padding-top: 90px;
}

.card-text{
    font-family: 'Silkscreen', cursive;
    font-size: 15px;
}

.card{
    min-width: 400px;
    max-width: 400px;
    margin: 15px;
}
.row-card{
    display: flex;
    margin-bottom: 50px;
    padding-top: 90px;
}